body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#gameContainer {
    position: relative;
    width: 3000px;
    height: 3000px;
}
.player, .food {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.player {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    overflow: visible;
}

.player-name {
    position: absolute;
    bottom: 100%;
    transform: translateY(-5px);
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
}

#loginScreen {
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

#loginScreen h1 {
    color:lightgreen;
    font-size: 38px;
}

#loginScreen input {
    width: 30%;
    padding: 7px;
    font-size: 18px;
}

#loginScreen button {
    width: 15%;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    background-color: lightgreen;
    color: white;
    border: 2px solid black;
}